.idea

node_modules
coverage

dist/main.js
src/dummys

# *

# !dist
# !dist/*

# !markdowns
# !markdowns/*
# !markdowns/*/*

# !npm_packages
# !npm_packages/*

# !src
# !src/*
# !src/*/*
# src/dummys

# !.*
# !*.json
# !README.md
# !yarn.lock
# !webpack.config.js